<!--https://www.youtube.com/watch?v=XMSeReVy9xc -->
<!-- Nav bar-->



<nav class="nav">
    <h1>Reduce-ReUse</h1>
    <div class="nav-search">
        <input type="text" placeholder="Search" style="flex:1"/>
        <button>Search</button>
    </div>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/buy">Buy</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/deliveries">Deliveries</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
    </ul>
</nav>
